<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SN52Commissions" connectionString="Data Source=SNFCSQL;Initial Catalog=SN52;user=Commissions;Password=yodathx1388;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="SteveReport" connectionString="Data Source=SNMCSQLSERVER;Initial Catalog=SteveReport;user=esnmcuser;Password=clowntrigger;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="UserDefinedDataAreaContext" connectionString="metadata=res://*/UserDefinedDataAreaModel.csdl|res://*/UserDefinedDataAreaModel.ssdl|res://*/UserDefinedDataAreaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SNMCTESTSERVER;initial catalog=eMarketing;user id=eMarketUser;password=eMarketPass;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>