<div id="nav">
    <ul class="top-level">
        <li><a id="homeLink" class="menu-link" href="~/Quadrants">Home</a></li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">My Pipeline</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="~/Commissions">Commissions</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Comp Plan</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="~/Pipeline">Payroll</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">EVM</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Deals in Escrow</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Closing volume for the month</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Number of people in drip campaign</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Active leads in ARGs CRM</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Number of people in Database</a></li>
            </ul>
        </li>
        <li><a href="#">Reports</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="~/Commissions">Commissions</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Personal production verses goals</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Personal production verses branch</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Personal production verses company</a></li>
            </ul>
        </li>
        <li><a href="#">Policies</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="#">Compliance</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Underwriting</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Credit Policy</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Closing Policy</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Loan Product Guidelines</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">eDocs</a></li>
            </ul>
        </li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">News</a></li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">Marketing</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="#">CRM</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">MSS</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Bill Sparkman</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Drive Marketing</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">XpressDocs</a></li>
            </ul>
        </li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">HR</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="#">Payroll</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">401K</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Reimbursements</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Benefits</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Training</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Videos</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Vendors</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Company Discounts</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Auto Dealerships</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Restaurants</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">AT&T</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Cemetery/Funeral</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Life</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Mortgages</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Photos</a></li>
            </ul>
        </li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">Calendar</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="#">Company Trainings</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Contests</a></li>
            </ul>
        </li>
        <li class="draggable-menu-item"><a class="menu-link" href="#">Help</a>
            <ul class="sub-level">
                <li class="draggable-menu-item"><a class="menu-link" href="#">IT</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">HR</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Marketing</a></li>
                <li class="draggable-menu-item"><a class="menu-link" href="#">Payroll</a></li>
            </ul>
        </li>
        <li class="draggable-menu-item"><a class="menu-link" href='@Url.Action("Login","Account")'>Login</a></li>
        <li class="draggable-menu-item"><a class="menu-link" href='@Url.Action("Unregister","Home")'>Unregister</a></li>
    </ul>
</div>
